*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fontAwsome{
    font-family: Arial, 'FontAwesome', sans-serif;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0px;
    margin-right: 0px;
}
#header{
    display: flex;
    align-items: center;
}
.header__navbar{
    display: flex;
    list-style: none;
}
.header__navbar-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px 0px 34px;
}
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
   
    'menu main right'
    'menu footer header';
  gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}